body {
	padding: 0;
	margin: 0;

	font-family:'Montserrat Regular', sans-serif;
	font-size: 20px;
	line-height: 42px;
	color: #b1b1b1;
}

.s1 {
	background-color: #000000;
	background-image: url("../img/bgstars.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

a{
	text-decoration: none;
}

.main-info-footer {
	margin-left: 76px;
	margin-right: 235px;
	display: flex;
	justify-content: flex-start;
} 

.main-info-footer a{
	margin-right: 327px;
}
.main-navigation{
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.19;
	letter-spacing: normal;
	text-align: left;
	color: #5b5b5b;

	margin-left: 76px;
	margin-right: 235px;
	display: flex;
	justify-content: space-between;
}

.site-navigation  {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.site-navigation li {
	padding-left: 150px;
}

.site-navigation a {
	color: #5b5b5b;
}

.site-navigation a:hover {
	color:white;
}

.site-navigation a:focus{
	color:white;
}

.right-nav-socials {
	list-style: none;
	position: fixed;
	top: 77px;
	right: 67px;
	
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.right-nav-downarrow {
	position: fixed;
	bottom: 90px;
	right: 47px;
}

.right-nav-socials a{
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.67;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	}

.right-nav-socials a:hover{
	color: #9A9A9A;
}
.main-info-heading {
  width: 503px;
  height: 135px;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}

.visually-hidden{
	display: none;
}

.main-info {
	position: relative;
	top: 175px;
	left: 975px;
}

.main-info-description {
	width: 358px;
  height: 74px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;
}



.main-partners-list{
	list-style: none;
	margin-top: 193px;
	margin-left: 906px;
	margin-right: 235px;
	display: flex;
	justify-content: space-between;
	width:739px;
}

.main-info-footer{
	font-family: OpenSans;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;
}

.main-info-footer a{
	color:#5b5b5b;
	text-decoration: none;
}

.main-info-footer a:hover{
	color:white;
}