*, *::before, *:after {
	box-sizing: border-box;
}



body {
	padding: 0;
	margin: 0;

	font-family:'Montserrat Regular', sans-serif;
	font-size: 20px;
	line-height: 42px;
	color: #b1b1b1;
}
.main-header{	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.main-header-logo img{
	width:115px;
}
.s1 {
	color:#000;
	height: 100vh;
	min-height: 600px;
	background-color: #000000;
	background-image: url("../img/bgstars.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.container-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

a{
	text-decoration: none;
}


.main-navigation{
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.19;
	letter-spacing: normal;
	text-align: left;
	color: #5b5b5b;

	display: flex;
	justify-content: space-between;
	width: 85%;
}


.site-navigation {
	width: 56%;
	list-style: none;
	display: flex;
	justify-content: space-around;
	height: 5vh;
}


.site-navigation a {
	color: #5b5b5b;
}

.site-navigation a:hover {
	color:white;
}

.site-navigation a:focus{
	color:white;
}

.right-nav-socials {
	list-style: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.right-nav-downarrow {

}

.right-nav-socials a{
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.67;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	}

.right-nav-socials a:hover{
	color: #9A9A9A;
}
.main-info-heading {
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
	color: #ffffff;
		padding-top: 20%;
		margin: 0;
		width: 506px;

}

.visually-hidden{
	display: none;
}

.container {
	border: 2px solid red;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

.main-info {
	position: relative;
	overflow: visible;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: flex-end;
	width: 50%;
	
}

.main-info-description {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
	color: #5b5b5b;
	width: 357px;
	
	display: inline-block;
}

.main-partners{
	display: flex;
	align-self: flex-end;
}

.main-partners-list{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	width: 85%;
	padding:0;
}

.main-partners-list img{
	width: 120px;
}

.main-info-footer{
	font-family: OpenSans;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;
}

.main-info-footer a{
	color:#5b5b5b;
	text-decoration: none;
}

.main-info-footer a:hover{
	color:white;
}